<%- include('partials/header') %>
  <section class="row">
    <div class="head-menu">
      <nav class="navbar navbar-expand-lg navbar-dark">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link1" href="/men">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/women">Women</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link1" href="/contact">Contact</a>
              </li>
            </ul>

          </div>
        </nav>
    </div>
  <div class="heading">
    <h2><b>CRUSE</b>1914</h2>
  </div>
  <div class="headco">
    <a href="/login"><i class="fas fa-user addtc"></i></a>
    <a href="/cart"><i class="fa fa-shopping-cart addtc"></i></a>
  </div>
</section>
  <section id="cart">
    <h2>Your cart</h2>
      <div style="margin-left:10%;">
    <p>Your cart is currently empty.</p>
    <a style="color:black" href="/"><h4>CONTINUE SHOPPING --></h4></a>
    </div>
  </section>

<!-- <script type="text/javascript">
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script> -->
<%- include('partials/footer') %>
