<%- include('partials/header') %>
<section class="row">
<div class="heading1">
  <h2 style="margin-left:330%;"><b>CRUSE</b>1914</h2>
</div>
</section>
<section>
  <div class="head-photo">
    <img src="image/i8.jpg" alt="">
  </div>
<section>
  <div class="card" style="margin-left:28%;margin-top:-35%;margin-bottom:14%;width:50%;">
    <h2 style="text-align:center;"><b>Choose Payment</b></h2>
    <a href="/checkout" class="btn btn-outline-dark">
      <div style="margin-left:5%;width:90%;margin-top:5%;margin-bottom:5%;">
        <h3><b>Payment By Card</b></h3>
      </div>
    </a>
    <a href="/ty" class="btn btn-outline-dark">
      <div style="margin-left:5%;width:90%;margin-top:5%;margin-bottom:5%;">
        <h3><b>Cash On Delivery</b></h3>
      </div>
    </a>
    </div>
</section>
